@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.head {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    background-color: #ABAAAA;
}

.containerA {
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "header"
                         "titulo"
                         "footer";
}

.header {
    grid-area: header;
    background-color: #151313;
}
#logo {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 2px;
    margin-left: 5%;
}
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 3%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.li {
    float: left;
    padding-left: 6%;
    text-transform: uppercase;
}
.a {
    text-decoration: none;
    color: white;
}
.li:hover {
    background-color: #f5f5f5bb;
    border-radius: 5%;
    text-decoration: none;
    padding: 1% 1% 1% 1%; 
}

.contato {
    grid-area: titulo;
    text-align: center;
}

h3 {
    margin-top: 3%;
}
h1 {
    font-size:xx-large;
}

.footer {
    grid-area: footer;
    background-color: #151313;
}

